* {
	color: #000000;
}

.App {
   margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.navbar {
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

@media (max-width:1023px) {
	.navbar {
		display: none;
	}
}

.navlink {
  text-decoration: none;
  transition: transform .5s;
}

.navlink:hover {
	color: #FF4A32;
}

.main {
  margin: 50px 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  margin-bottom: 0;
}

.button {
  background-color:#FF4A32;
  border: 1px #FF4A32 solid;
  border-radius: 20px;
  cursor: pointer;
  padding: 7px 10px;
  color: #FFFFFF;
}


.button:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

@media (min-width:1024px) {
	.burger {
		display: none;
	}
}

.burger {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about {
  flex-basis: 60%;
}

@media (max-width:768px) {
	.about,
  .contacts {
		font-size: 12px;
	}
}
